* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

body {

    overflow-x: hidden;
}


.titulo {
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    padding: 5px;
}

/* TELA LOGIN */
.logo {

    background-color: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

#logo {
    padding: 1rem;

}

.conteudo {
    background-color: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* TELA LOGIN FINAL*/

.container {
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
}

.container-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    gap: 20px;
    /* Espaçamento entre os elementos */
}

.filhos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 350px 350px 350px;
}

.container-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.container-filhos,
.filho-group {
    display: contents;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.validacao0,
.validacao1,
.validacao2 {
    font-size: 11px;
    color: red;
    margin: 5px;
}

/*IMG CADASTRO*/

#thumb {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

#foto {
    display: none;
}

/*FINAL IMG CADASTRO*/

.row,
.row_cad {
    display: flex;
    gap: 5px;
    margin: 5px;
}

.row-select {
    display: flex;
    gap: 5px;
    margin: 10px;
}

.col {
    width: 100%;
}

.col-select {
    width: 100%;
}

.col-login {
    color: white;
}

/* INPUTS */

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="date"],
select,
#cidade,
#cidadenatal,
#ufnatal,
#uf {
    height: 35px;
    width: 20rem;
    border-radius: 5px;
    border: 1px solid #888;
    padding: 5px;
    font-weight: 1.2rem;
    display: flex;
}

input[type="reset"],
.voltar-btn {
    padding: 20px 40px;
    border: 1px solid #888;
    cursor: pointer;
    border-radius: 5px;
}


.addtipo{
    width: 100%;
}
.addtipo input[type="submit"] ,.addtipo a{
    padding: 20px 40px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    background-color: #d2d0d0;
    color: rgb(2, 2, 2);
margin-left: 1%;
    text-decoration: none;
}
.addtipo input[type="submit"]{
margin-left: 25%;
background-color: #28611c;
color: #f3f3f3;
padding: 22px 40px;
}


#botao-add {
    padding: 20px 40px;
    border: 1px solid green;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(252, 153, 5);
    color: white;
}

/* MENU */

.menu ul {
    display: flex;
    height: 70px;
    background-color: black;
    background-image: linear-gradient(to right, red, transparent, white);
    justify-content: end;
    align-items: center;
    list-style-type: none;
}

.menu ul li {
    padding: 15px 20px;
}

.menu ul li:hover {
    background-color: crimson;
    color: white;
}

.menu ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* MENU FINAL*/

.step {
    display: none;
}

.step.active {
    display: block;
}

.invalid {
    border: 2px solid red;
}